# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/tests/test
simulator

# Mac
.DS_Store
*.dSYM

# Config
src/tests/local.json
local.json
src/actorCriticDefines.h
src/sarsaDefines.h
src/endpointDefines.h
src/interfaceDefines.h
src/flowDefines.h
src/tilecoderDefines.h

# Results
results/
